body {
  background-color: #161722;

  margin: 0;
  font-family: "Spinnaker", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  height: var(--app-height);
  background-color: #161722;
}

.ui.modal {
  top: 20% !important;
}

.boardButton {
  align-items: center;
  background-color: #cacde8 !important;
  border-radius: 10% !important;
  color: #161722 !important;
  cursor: pointer;
  display: flex !important;
  font-size: xx-large !important;
  height: 90% !important;
  justify-content: center !important;
  letter-spacing: 0.2rem !important;
  width: 90% !important;
  margin: 0 !important;
  box-shadow: inset #e4e5f1 2px 2px;
}
