.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f7f8;

  justify-content: space-between;
  width: 100%;
  padding: 6px 0;
}

.headerText {
  font-variant: all-small-caps;
  font-size: xx-large;
}

.headerButton {
  align-items: center;
  background-color: black !important;
  border-radius: 10% !important;
  color: #161722 !important;
  cursor: pointer;
  display: flex !important;
  font-size: xx-large !important;
  height: 48px !important;
  justify-content: center !important;
  letter-spacing: 0.2rem !important;
  width: 48px !important;
  margin: 0 !important;
  margin-left: 6px !important;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  color: white !important;
}

.headerSubtext {
  font-size: 2vh;
  color: #b1b3b4;
  font-variant: all-small-caps;
  margin-bottom: 16px;
}
